:root {
    --background-color: #282c34;
    --text-color: #ffffff;
    --primary-color: #61dafb;
    --secondary-color: #888;
  }
  
  body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  .App {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  .App-header {
    margin-bottom: 2rem;
  }
  
  h1 {
    color: var(--primary-color);
  }
  